@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-500: #5e6e85;
  --color-gray-300: #acc1de;
  --color-blue-900: #253347;
  --color-blue-500: #345ff6;
  --color-blue-300: #b3d3f1;
  --color-blue-100: #e1e7fe;

  --color-gradient-start: #d6fcfe;
  --color-gradient-end: #d6e6fe;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
